main {
  background-image: radial-gradient(circle, #99B 70%, #584b4b 100%);
  padding: 20px;
  min-width: 1040px;
}

.paper {
  height: 832px;
  width: 1000px;
  background-color: #fff;
  //padding: 0px 0px 20px 20px;
  margin: 0 auto;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.left-col {
  display: inline-block;
  width: 640px;
  padding: 25px 20px 20px 30px;
}
.right-col {
  display: inline-block;
  width: 360px;
  float: right;
  padding: 20px 20px 20px 30px;
}




.big-headings {
  display: flex;
  margin-bottom: 5px;
}
.bh-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  z-index: 2;
  margin-top: -5px;
  margin-left: -5px;
  background-color: #6e9ad0;
}
.bh-icon {
  color: white;
  margin-top: 7px;
  margin-left: 2px;
  font-size: 20px;
  text-align: center;
}

.bh-component {
  display: flex;
  background-color: #bfd8e6;
  margin-left: -10px;
  padding-left: 20px;
  padding-top: 4px;
  margin-top: 3px;
  width: 550px;
  max-height: 32px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bh-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  min-width: 470px;
}

/*
 *   Small Headings 
 */

.small-headings {
  display: flex;
  margin-bottom: 5px;
  margin-left: -15px;
}
.sm-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #eee;
  z-index: 2;
  margin-top: -5px;
  margin-left: -5px;
  background-color: #fff;
}
.sm-icon {
  color: #000;
  margin-top: 7px;
  margin-left: 2px;
  font-size: 20px;
  text-align: center;
}

.sm-component {
  display: flex;
  background-color: #fff;
  margin-left: -10px;
  padding-left: 20px;
  padding-top: 3px;
  margin-top: 3px;
  width: 300px;
  max-height: 32px;
  border-bottom: 3px solid #ddd;
  border-right: 2px solid #ddd;
}
.sm-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  min-width: 470px;
}






/* possible 3380FF */
.first-shape {
  width: 5px;
  background: #6e9ad0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: -5px;
  margin-right: -1px;
}
.last-shape {
  width: 6px;
  background: #6e9ad0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -1px;
}
.parallelogram {
  width: 30px;
  height: 8px;
  border-right: 3px solid #eee;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #6e9ad0;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
}
.parallelogram:nth-child(2) {
  width: 26px;
}
.parallelogram:nth-child(6) {
  border-right: none;
  width: 26px;
}
.wording {
  -webkit-transform: rotate(73deg);  
  -moz-transform: rotate(73deg);
  -o-transform: rotate(73deg);   
  writing-mode: lr-tb;
  width:80px;
  display:inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:12px;
  letter-spacing: 0.05em;
}

.measurement {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:12px;
  letter-spacing: 0.05em;
  margin-top: 20px;
  display: block;
  margin-left: 31px;
}

.border:first-child {
  margin: 30px;
}
.border:not(:first-child) {
  margin-left: 30px;
}
.border {
  display: flex;
  width: 157px;
  border: 1px solid #333;
  padding: 1px 0px 1px 7px;
  border-radius: 10px;
}

.skills-container {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.first-word {
  margin-left:22px;
}
.words {
  margin-left: -54px;
  margin-top: 36px;
}



.dot-chart {
  display: flex;
}
.dot {
  border: 1px solid #6e9ad0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.dot:first-child {
  margin-left: 0px;
}
.full-dot {
  background-color: #bfd8e6;
}




